<section class="todo-container">
  <h4 class="header-text">ADD ITEM</h4>
  <app-add-todo></app-add-todo>
  <h4 class="header-text">TODO</h4>
  <ng-container *ngIf="(toDoLists | completed: false).length > 0; else emptymsg">
    <app-list-todo *ngFor="let todo of toDoLists | completed: false" [toDo]="todo"></app-list-todo>
  </ng-container>

  <h4 class="header-text">COMPLETED</h4>
  <ng-container *ngIf="(toDoLists | completed: true).length > 0; else completeEmptymsg">
    <app-completed-todo *ngFor="let todo of toDoLists | completed: true" [toDo]="todo"></app-completed-todo>
  </ng-container>
</section>

<ng-template #emptymsg>
  TODO list is empty, please add or complete your task.
</ng-template>

<ng-template #completeEmptymsg>
  You have not yet completed any tasks.
</ng-template>
