/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #007c90;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.form-control {
  width: 100%;
  padding: 6px;
  border: 1px solid #cacaca;
  font-size: 18px;

  &:focus {
    border: 1px solid var(--color-primary);
    outline: none;
  }
}

.btn {
  background: linear-gradient(var(--color-primary), #016e80);
  outline: none;
  padding: 4px 6px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  transition: all .3s;
  color: #fff;

  &:hover {
    background: linear-gradient(to bottom right, var(--color-primary), #00a6c1);
  }

  &:disabled {
    background: #dfdfdf;
    border: 1px solid #dedede;
    color: #bebebe;
  }

}
